.match_card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0f172a;
  border-radius: 12px;
  width: 30%;
  height: 400px;
  margin: 10px;
  padding: 10px;
}
.match_team_logo {
  width: 100px;
}
.match_competing {
  color: #ffffff;
  font-family: 'Bree serif';
}
.match_result {
  color: #ffffff;
  font-family: 'Bree serif';
}
.match_status {
  color: #ffffff;
  font-family: 'Bree serif';
}
.lost {
  color: #e31a1a;
}
.won {
  color: #18ed66;
}
@media screen and (max-width: 767px) {
  .match_card {
    width: 45%;
    height: 200px;
    padding: 5px;
    margin: 5px;
  }
  .match_team_logo {
    width: 50px;
    margin: 3px;
  }
  .match_competing {
    font-size: 14px;
    margin: 3px;
  }
  .match_result {
    font-size: 12px;
    margin: 3px;
  }
  .match_status {
    margin: 3px;
    font-size: 16px;
  }
}
